exit all
configure
#--------------------------------------------------
echo "System Configuration"
#--------------------------------------------------
    system
        name "uSID-p1"
    exit
#--------------------------------------------------
echo "Card Configuration"
#--------------------------------------------------
    card 1
        mda 1
            xconnect
                mac 1 create
                    loopback 1 create
                    exit
                exit
                mac 6 create
                    loopback 2 create
                    exit
                exit
            exit
            no shutdown
        exit
        no shutdown
    exit
#--------------------------------------------------
echo "Connector Configuration"
#--------------------------------------------------
    port 1/1/c1
        connector
            breakout c1-100g
        exit
        no shutdown
    exit
    port 1/1/c2
        connector
            breakout c1-100g
        exit
        no shutdown
    exit
    port 1/1/c3
        connector
            breakout c1-100g
        exit
        no shutdown
    exit
    port 1/1/c4
        connector
            breakout c1-100g
        exit
        no shutdown
    exit
    port 1/1/c5
        connector
            breakout c1-100g
        exit
        no shutdown
    exit
    port 1/1/c6
        connector
            breakout c1-100g
        exit
        no shutdown
    exit
    port 1/1/c7
        connector
            breakout c1-100g
        exit
        no shutdown
    exit
    port 1/1/c8
        connector
            breakout c1-100g
        exit
        no shutdown
    exit
#--------------------------------------------------
echo "Port Cross-Connect Configuration"
#--------------------------------------------------
    port-xc
        pxc 1 create
            port 1/1/m1/1
            no shutdown
        exit
        pxc 2 create
            port 1/1/m1/1
            no shutdown
        exit
        pxc 5 create
            port 1/1/m6/2
            no shutdown
        exit
        pxc 6 create
            port 1/1/m6/2
            no shutdown
        exit
    exit
#--------------------------------------------------
echo "Port Configuration"
#--------------------------------------------------
    port 1/1/c1/1
        ethernet
        exit
        no shutdown
    exit
    port 1/1/c2/1
        ethernet
        exit
        no shutdown
    exit
    port 1/1/c3/1
        ethernet
        exit
        no shutdown
    exit
    port 1/1/c4/1
        ethernet
        exit
        no shutdown
    exit
    port 1/1/c5/1
        ethernet
        exit
        no shutdown
    exit
    port 1/1/c6/1
        ethernet
        exit
        no shutdown
    exit
    port 1/1/c7/1
        ethernet
        exit
        no shutdown
    exit
    port 1/1/c8/1
        ethernet
        exit
        no shutdown
    exit
    port 1/1/m1/1
        no shutdown
    exit
    port 1/1/m6/2
        no shutdown
    exit
    port pxc-1.a
        ethernet
        exit
        no shutdown
    exit
    port pxc-1.b
        ethernet
        exit
        no shutdown
    exit
    port pxc-2.a
        ethernet
        exit
        no shutdown
    exit
    port pxc-2.b
        ethernet
        exit
        no shutdown
    exit
    port pxc-5.a
        ethernet
        exit
        no shutdown
    exit
    port pxc-5.b
        ethernet
        exit
        no shutdown
    exit
    port pxc-6.a
        ethernet
        exit
        no shutdown
    exit
    port pxc-6.b
        ethernet
        exit
        no shutdown
    exit
#--------------------------------------------------
echo "Forwarding Path Extensions Configuration"
#--------------------------------------------------
    fwd-path-ext
        fpe 1 create
            path pxc 1
            srv6 origination
                interface-a
                exit
                interface-b
                exit
            exit
        exit
        fpe 2 create
            path pxc 2
            srv6 termination
                interface-a
                exit
                interface-b
                exit
            exit
        exit
        fpe 5 create
            path pxc 5
            srv6 origination
                interface-a
                exit
                interface-b
                exit
            exit
        exit
        fpe 6 create
            path pxc 6
            srv6 termination
                interface-a
                exit
                interface-b
                exit
            exit
        exit
    exit
#--------------------------------------------------
echo "Router (Network Side) Configuration"
#--------------------------------------------------
    router Base
#--------------------------------------------------
echo "MPLS Label Range Configuration"
#--------------------------------------------------
        mpls-labels
            reserved-label-block "uSID"
                start-label 20000 end-label 20999
            exit
        exit
#--------------------------------------------------
echo "Segment Routing v6 Configuration"
#--------------------------------------------------
        segment-routing
            segment-routing-v6
                origination-fpe 1
                source-address fdca:fe00:1::1
                micro-segment
                    block "uSID-0"
                        label-block "uSID"
                        termination-fpe 2
                        prefix
                            ip-prefix fdca:fe00::/32
                        exit
                        static-function
                            max-entries 255
                        exit
                        no shutdown
                    exit
                exit
                micro-segment-locator "uSID"
                    block "uSID-0"
                    un
                        value 1
                    exit
                    no shutdown
                exit
            exit
        exit
        interface "system"
            address 10.10.10.1/32
            ipv6
                address fdca:fe00:1::1/128
            exit
            no shutdown
        exit
        interface "to-R2"
            port 1/1/c2/1
            ipv6
            exit
            no shutdown
        exit
        interface "to-R3"
            port 1/1/c3/1
            ipv6
            exit
            no shutdown
        exit
        interface "to-R4"
            port 1/1/c4/1
            ipv6
            exit
            no shutdown
        exit
        interface "to-R5"
            port 1/1/c5/1
            ipv6
            exit
            no shutdown
        exit
        autonomous-system 65000
#--------------------------------------------------
echo "Segment Routing Configuration"
#--------------------------------------------------
        segment-routing
            segment-routing-v6
                base-routing-instance
                    micro-segment-locator "uSID"
                        function
                            ua-auto-allocate srh-mode psp protection protected
                        exit
                    exit
                exit
            exit
        exit
#--------------------------------------------------
echo "ISIS Configuration"
#--------------------------------------------------
        isis 0
            level-capability level-2
            standard-multi-instance
            advertise-router-capability as
            loopfree-alternates
                ti-lfa
                    node-protect
                exit
            exit
            no ipv4-routing
            ipv6-routing mt
            multi-topology
                ipv6-unicast
            exit
            level 2
                wide-metrics-only
            exit
            segment-routing-v6
                micro-segment-locator "uSID"
                    level-capability level-2
                    multi-topology mt2
                    level 1
                    exit
                    level 2
                    exit
                exit
                no shutdown
            exit
            interface "to-R2"
                interface-type point-to-point
                no shutdown
            exit
            interface "to-R3"
                interface-type point-to-point
                no shutdown
            exit
            interface "to-R4"
                interface-type point-to-point
                no shutdown
            exit
            no shutdown
        exit
    exit

#--------------------------------------------------
echo "Service Configuration"
#--------------------------------------------------
    service
        customer 1 name "1" create
            description "Default customer"
        exit
        vprn 1 name "1" customer 1 create
            interface "loopback" create
            exit
        exit
        vprn 1 name "1" customer 1 create
            interface "loopback" create
                address 1.0.0.1/32
                loopback
            exit
            segment-routing-v6 1 create
                micro-segment-locator "uSID"
                    function
                        udt4
                    exit
                exit
            exit
            bgp-ipvpn
                segment-routing-v6 bgp 1
                    route-distinguisher 65000:1
                    srv6-instance 1 default-locator "uSID"
                    vrf-target target:65000:1
                    no shutdown
                exit
            exit
            no shutdown
        exit
    exit
#--------------------------------------------------
echo "Router (Service Side) Configuration"
#--------------------------------------------------
    router Base
        bgp
            extended-nh-encoding vpn-ipv4
            advertise-ipv6-next-hops vpn-ipv4 vpn-ipv6
            group "ibgp"
                family vpn-ipv4
                peer-as 65000
                neighbor fdca:fe00:2::1
                exit
                neighbor fdca:fe00:3::1
                exit
                neighbor fdca:fe00:4::1
                exit
            exit
            no shutdown
        exit
    exit

#--------------------------------------------------
echo "System Configuration Mode Configuration"
#--------------------------------------------------
    system
        management-interface
            configuration-mode mixed
            cli
                cli-engine md-cli classic-cli
            exit
        exit
    exit

exit all

# Finished TUE JUL 15 06:17:07 2025 UTC

